@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-hand-img{
    width:500px;
    height:350px;
    background-image: url('./static/images/typing-hands.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
    /*position:absolute;*/
    
}

.low-z-index{
    z-index: 1;
}

.key-btn{
    box-shadow: 6px 3px 4px 1px rgba(26, 26, 26, 0.5);
}